<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/mainLayout.html">
<div th:insert="/vendor/head.html"></div>
<div class="container" th:insert="/vendor/navbar.html"></div>
<div class="container" layout:fragment="fragment">
    <div class="row">
        <div class="col-6" th:each="req:${applicationRequestList}">
            <div class="card mt-3">
                <div class="card-body">
                    <label class="card-title mx-2" th:if="${!req.handled}" style="font-weight: bold; color: red;">*(Новая)</label>
                    <label class="card-title mx-2">Request by:</label>
                    <label th:text="${req.getUserName()}" style="font-weight: bold;"></label>
                    <h6 class="card-subtitle mx-2 text-body-secondary" th:text="${req.getCourseName()}"></h6>
                    <p class="card-text mx-2" th:text="${req.getCommentary()}"></p>
                    <label class="card-title mx-2" style="font-weight: bold;">Phone:</label>
                    <label th:text="${req.getPhone()}" style="font-weight: bold;"></label>
                    <label><a th:href="@{'/app/details/' + ${req.getId()}}" class="card-link mx-4">Read more</a></label>
                </div>
            </div>
        </div>
    </div>
</div>

</html>